@charset "utf-8";

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #666666; 
}
li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}

.table{
  border-collapse: collapse;
  margin: 0 auto;
}
.table-img,
.table-txt{
  vertical-align: top;
  width: 300px;
}
.table-img{
  background: #fffacd;
}
.table-txt{
  background: #d2b48c;
}
.box-img,
.box-text{
  display: inline-block;
  vertical-align: middle;
}
.box-img > img{
  width: 1000px;
}

.pfirst {
	font-size: 25px;
}
#second h2{
  position: relative;
  padding: 1rem 2rem;
  border: 4px solid #000;
}

#second h2:before{
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100%-8px);
  height: calc(100%-8px);
  content: ";
  border: 2px solid #000;
}

.btn-img{
  border-style: none;
}

.btn-img:hover{
  opacity: 0.6;
  transition: 0.8s;
}

.btn-img img{
  width: 500px;
  height: auto;
}

.table2{
  border-collapse: collapse;
  margin: 0 auto;
}
.table-img2,
.table-txt2{
  vertical-align: top;
  width: 700px;
}
.table-img2{
  background: #fffacd;
}
.table-txt2{
  background: #00CCCC;
}
.box-img2,
.box-text2{
  display: inline-block;
  vertical-align: middle;
}
.box-img2 > img{
  width: 700px;
}

